/* -------- VARIABLES -------- */

@main: #393f42;
@secondary: #cedcef;
@bg: #f7f8fb;
@highlight: ##50bbf2;
@copy: #727678;
@white: #ffffff;



/* -------- GLOBAL STYLES -------- */

* {
  box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
}

html, body {
  font-family: "Open Sans", sans-serif; 
}
