
/* -------- VARIABLES -------- */
/* -------- GLOBAL STYLES -------- */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  font-family: "Open Sans", sans-serif;
}
